/*-------------- about -----------------*/
.about{
	&__img{
		img{border-radius: var(--border-radius);}
	}

	&__content{
		padding-left: 60px;

		h2, .h2{
			text-align: left;
			margin-bottom: 3rem;
		}

		b{
			font-size: 2rem;
			font-weight: 500;
		}
	}
}