/*-------------- licenses -----------------*/
.licenses-wrap{
	&__content{
		font-size: 2rem;
		font-weight: 500;

		h2, .h2{
			text-align: left;
			margin-bottom: 3rem;
		}
	}
}

.licenses-list{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 20px;

	&__item{
		max-width: calc(50% - 10px);
		border: 2px solid #E6E6E6;
		border-radius: 20px;
		overflow: hidden;

		a{cursor: zoom-in;}
	}
}

@media (max-width: 1339px) {
	.licenses-wrap{
		&__content{font-size: 1.8rem;}
	}
}

@media (max-width: 991px) {
	.licenses-wrap{
		&__content{margin-bottom: 50px;}
	}
}

@media (max-width: 767px) {
	.licenses-wrap{
		&__content{
			font-size: 1.6rem;
			h2, .h2{margin-bottom: 2rem;}
		}
	}
}