/*-------------- social -----------------*/
.social{
	display: flex;
	gap: 15px;

	&__item{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #858585;
		text-decoration: none;
		transition: opacity 0.2s ease;

		.icon{color: #fff;}

		&:hover{opacity: 0.6;}
	}

	&__item_tg{background: #3390EC;}
	&__item_wh{background: #25D366;}
	&__item_viber{background: #7C509A;}

	&_big{gap: 10px;}

	&_big &__item{
		width: 55px;
		height: 55px;
	}

	&_dark &__item{background: var(--color-black);}
}

@media (max-width: 767px) {
	.social{gap: 10px;}
}