/*-------------- tariffs -----------------*/
.tariffs-wrap{
	h2, .h2{margin-bottom: 2.8rem;}
}

.list-tariffs{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.tariff-item{
	width: calc(33.33% - 13.33px);
	background-color: var(--color-light-grey);
	background-image: url(../img/half-car.png);
	background-repeat: no-repeat;
	background-position: 100% calc(100% - 40px);
	border-radius: 20px;
	padding: 40px 30px;

	&__label{
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 1.2;
		text-transform: uppercase;
		letter-spacing: 4%;
	}

	&__title{
		font-size: 4rem;
		font-weight: bold;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 30px;
		letter-spacing: 3%;
	}

	&__title_small{font-size: 3rem;}

	.btn{
		width: 100%;
		margin-top: 50px;
	}
}

.tariff-params{
	display: flex;
	flex-direction: column;
	gap: 20px;

	&__label{
		font-size: 1.6rem;
		line-height: 1.2;
		color: var(--color-grey);
	}

	&__val{
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 1.2;
	}

	&__price{
		font-size: 3.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
}

@media (max-width: 1339px) {
	.tariff-item{
		padding: 40px 25px;
		background-position: 100% calc(100% - 85px);

		&__title{font-size: 3.5rem;}
		&__title_small{font-size: 2.7rem;}
	}

	.tariff-params{
		&__price{font-size: 3rem;}
	}
}

@media (max-width: 991px) {
	.tariff-item{width: calc(50% - 10px);}
}

@media (max-width: 767px) {
	.tariff-item{
		padding: 20px 15px;
		background-size: 50%;
		background-position: 100% calc(100% - 64px);

		&__label{font-size: 1.4rem;}

		&__title{
			font-size: 3rem;
			margin-bottom: 20px;
		}

		&__title_small{font-size: 1.8rem;}

		.btn{margin-top: 30px;}
	}

	.tariff-params{
		&__label,
		&__val{
			font-size: 1.4rem;
		}

		&__price{font-size: 2.4rem;}
	}
}

@media (max-width: 479px) {
	.tariff-item{width: 100%;}
}