/*-------------- visually -----------------*/
.visually{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	padding: 10px 15px;
	width: 130px;
	border-radius: 15px;
	background: var(--color-primary);
	color: #fff;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.2s ease;

	&:hover{background: var(--color-primary-hover);}

	&.fixed{
		position: fixed;
		right: 130px;
		bottom: 40px;
		z-index: 1000;
	}
}

@media (max-width: 1339px) {
	.visually{
		&.fixed{
			right: 20px;
			bottom: 20px;
		}
	}
}

@media (max-width: 991px) {
	.visually{
		&__label{font-size: 1.4rem;}
	}
}

@media (max-width: 767px) {
	.visually{
		width: 94px;
		&__label{font-size: 1.2rem;}
	}
}