extends tmpl/_layout

block vars
	- var pageId = 'about'

block body
	section.page-top
		.st-width.bg-texture
			.container
				.row
					.col-12
						.page-top__content
							h1 О нас

							.page-top__desc Подробнее о нашей автошколе
				
	section.about.mb-indent
		.container
			.row
				.col-lg-5
					.about__img
						picture
							source(srcset="/upload/about-mobile.jpg" media='(max-width: 991px)')
							img(src="/upload/about.jpg", alt="")

				.col-lg-7.align-self-lg-center
					.about__content
						h2 Об автошколе
						
						p
							b Задача организации, в особенности же граница обучения кадров создаёт предпосылки для поэтапного и последовательного развития.

						p Выбор автошколы — занятие ответственное, потому что от его результата зависят безопасность на дороге и возможность получить желанные права в принципе. Огромное значение в процессе обучения будущих водителей имеет преподаватель, особенно — преподаватель практики, или инструктор. Чтобы учиться комфортно и эффективно, выбирать его стоит тщательно.
						p Наши клиенты, пройдя обучение, становятся грамотными и ответственными участниками дорожного движения, которые соблюдают все правила дорожного движения и обеспечивают безопасность на проезжей части и за ее пределами.
						p Классы для очного изучения теории, находятся рядом со станциями метро: Технологический институт, Сенная площадь, Нарвская, Кировский завод. На данный момент у нас 4 класса теории, наполненные всем необходимым для комфортного обучения.
						p Для знакомством с нашей автошколой можете посмотреть этот ознакомительный ролик — знакомство с автошколой Миля.

	include ./components/_instructors

	include ./components/_form-learning

	.visually.fixed
		.visually__icon
			+svg('ic-glasses','ic-glasses', '31', '28')

		.visually__label Версия для слабовидящих