extends tmpl/_layout

block vars
	- var pageId = 'reviews'

block body
	section.page-top
		.st-width.bg-texture
			.container
				.row
					.col-12
						.page-top__content
							h1 Отзывы

							.page-top__desc Отзывы наших учеников
				
	section.reviews.mb-indent
		.reviews-video
			.container
				.row
					-
						var list=[
							{video:'https://www.youtube.com/watch?v=z2X2HaTvkl8', img:'preview-video1.jpg'},
							{video:'https://www.youtube.com/watch?v=UdaQRvVTIqU', img:'preview-video2.jpg'},
							{video:'https://www.youtube.com/watch?v=LXb3EKWsInQ', img:'preview-video3.jpg', display:'none'},
						]
					each item in list
						.col-6.col-lg-4(class=item.display?'d-none d-lg-block':'')
							.reviews-item
								a(href=item.video, data-fancybox).reviews-item__img-wrap
									.reviews-item__img(style="background-image: url(/upload/"+item.img+")")
									.reviews-item__play
										img(src="/img/play.svg", alt="")

		.container
			.row
				.col-12
					.reviews-list
						-
							var list=[
								{ava:'ava1.jpg', name:'Иван Иванов', text:'Лишь сделанные на базе интернет-аналитики выводы могут быть в равной степени предоставлены сами себе! А ещё акционеры крупнейших компаний обнародованы.', content_img:'review.jpg'},
								{ava:'ava1.jpg', name:'Иван Иванов', text:'Лишь сделанные на базе интернет-аналитики выводы могут быть в равной степени предоставлены сами себе! А ещё акционеры крупнейших компаний обнародованы.'},
								{ava:'ava3.jpg', name:'Геннадий Б.', text:'Внезапно, акционеры крупнейших компаний лишь добавляют фракционных разногласий и функционально разнесены на независимые элементы. Равным образом, повышение уровня гражданского сознания требует анализа инновационных методов управления процессами.'},
								{ava:'ava3.jpg', name:'Геннадий Б.', text:'Внезапно, акционеры крупнейших компаний лишь добавляют фракционных разногласий и функционально разнесены на независимые элементы. Равным образом, повышение уровня гражданского сознания требует анализа инновационных методов управления процессами.', content_img:'review.jpg'},
								{ava:'ava1.jpg', name:'Иван Иванов', text:'Лишь сделанные на базе интернет-аналитики выводы могут быть в равной степени предоставлены сами себе! А ещё акционеры крупнейших компаний обнародованы.', content_img:'review.jpg'},
								{ava:'ava2.jpg', name:'Елизавета П.', text:'Не следует, однако, забывать, что внедрение современных методик позволяет выполнить важные задания по разработке переосмысления внешнеэкономических политик. Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет будут разоблачены.'},
								{ava:'ava2.jpg', name:'Елизавета П.', text:'Не следует, однако, забывать, что внедрение современных методик позволяет выполнить важные задания по разработке переосмысления внешнеэкономических политик. Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет будут разоблачены.', content_img:'review.jpg'},
								{ava:'ava2.jpg', name:'Елизавета П.', text:'Не следует, однако, забывать, что внедрение современных методик позволяет выполнить важные задания по разработке переосмысления внешнеэкономических политик. Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет будут разоблачены.'},
								{ava:'ava2.jpg', name:'Елизавета П.', text:'Не следует, однако, забывать, что внедрение современных методик позволяет выполнить важные задания по разработке переосмысления внешнеэкономических политик. Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет будут разоблачены.', content_img:'review.jpg'},
								{ava:'ava2.jpg', name:'Елизавета П.', text:'Не следует, однако, забывать, что внедрение современных методик позволяет выполнить важные задания по разработке переосмысления внешнеэкономических политик. Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет будут разоблачены.'},
								{ava:'ava3.jpg', name:'Геннадий Б.', text:'Внезапно, акционеры крупнейших компаний лишь добавляют фракционных разногласий и функционально разнесены на независимые элементы. Равным образом, повышение уровня гражданского сознания требует анализа инновационных методов управления процессами.'},
								{ava:'ava1.jpg', name:'Иван Иванов', text:'Лишь сделанные на базе интернет-аналитики выводы могут быть в равной степени предоставлены сами себе! А ещё акционеры крупнейших компаний обнародованы.'},
								{ava:'ava3.jpg', name:'Геннадий Б.', text:'Внезапно, акционеры крупнейших компаний лишь добавляют фракционных разногласий и функционально разнесены на независимые элементы. Равным образом, повышение уровня гражданского сознания требует анализа инновационных методов управления процессами.', content_img:'review.jpg'},
								{ava:'ava1.jpg', name:'Иван Иванов', text:'Лишь сделанные на базе интернет-аналитики выводы могут быть в равной степени предоставлены сами себе! А ещё акционеры крупнейших компаний обнародованы.', content_img:'review.jpg'},
								{ava:'ava3.jpg', name:'Геннадий Б.', text:'Внезапно, акционеры крупнейших компаний лишь добавляют фракционных разногласий и функционально разнесены на независимые элементы. Равным образом, повышение уровня гражданского сознания требует анализа инновационных методов управления процессами.', content_img:'review.jpg'},
							]
						each item in list
							.reviews-item
								.reviews-item__content
									.reviews-item__top
										.reviews-item__author
											.reviews-item__ava(style="background-image: url(/upload/"+item.ava+")")
											
											.reviews-item__info
												.reviews-item__name= item.name
												.reviews-item__date 7 апреля 2025

										.rating-short
											.rating-short__score 5

											.rating-short__star
												+svg('ic-star','ic-star', '24', '23')

									.reviews-item__text= item.text

										if(item.content_img)
											img(src="/upload/"+item.content_img, alt="")
									
					.more-btn
						a(href="#").btn Покзаать еще

	include ./components/_form-learning

	.visually.fixed
		.visually__icon
			+svg('ic-glasses','ic-glasses', '31', '28')

		.visually__label Версия для слабовидящих